*{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "century gothic",sans-serif;
    background-image: url(img/h11.jpeg);background-size: cover;
}

h1{
    color: blue;
}
button{
    padding: 10px;
    background: none;
    border: 1px solid #f80;
    border-radius: 25px;

}
button:hover{
    background: #f80;
}
#name{
    width: 150px;
    height: 150px;
    background-color: aqua;
    border-left: 4px solid black;
    border-right: 4px solid black;

    border-top-left-radius: 35%;
    border-top-right-radius: 75%;
    border-bottom-right-radius: 75%;
    border-bottom-left-radius: 55%;
}